.each-list {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.list-items {
  display: flex;
  align-items: center;
}
.para {
  font-size: 15px;
  color: #475569;
  padding: 0px 10px;
}
p {
  color: #475569;
  font-size: 15px;
  padding: 0px 10px;
}
img {
  height: 30px;
  padding: 0px 50px;
}

.delete-img {
  height: 20px;
  align-self: flex-end;
}

button {
  border: none;
  background-color: transparent;
}
